@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content; /* total width based on content */
  animation: marquee 15s linear infinite;
}
a {
  text-decoration: none !important;
}
